<!doctype html>
<title>CAIS CAIS</title>
<h1>CAIS-CAIS</h1>
<h2>Conjunto de Aplica&ccedil;&atilde;oes Intencionalmente Sem-vergonha do CAIS</h2>
<h3>Escolha uma aplica&ccedil;&atilde;o de exemplo:</h3>
<p><a href="3des">Gerar uma Chave 3DES e cifrar uma string</a></p>
<p><a href="ping">Enviar um IMCP Ping para um host</a></p>
<p><a href="rsakey">Gerar uma chave privada usando RSA</a></p>
<p><a href="gerachave">Gerar uma chave baseada em PKCS#5 com HMAC</a></p>
<p><a href="geratoken">Gerar um token JWT</a></p>
<p><a href="consulta">Consultar por um usu&aacute;rio no banco</a></p>
<p><h3>Pelo amor de tudo que &eacute; mais sagrado: n&atilde;o use nada disso em produ&ccedil;&atilde;o ou em qualquer outro ambiente.</h3></p>
<p><h3>Prop&oacute;sito educacional apenas. Toda vez que voc&ecirc; coda algo inseguro, um golfinho morre afogado. Tenha consci&ecirc;ncia!</h3></p>